:root {
  --primary: #CACAAA;
  --secondary: #EEC584;
  --tertiary: #C8AB83;
  --quarnary: #55868C;
  --quinary: #7F636E;
  --senary: #E6EEEF;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inspo-header {
  text-decoration: none;
  margin: 20px auto;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 50px;
  background-color: var(--secondary);
  color: var(--quarnary);
}

.banner {
  max-width: 100%;
  background-color: var(--secondary);
}

.nav-bar {
  list-style-type: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 0;
  padding-right: 50px;

}


.nav-bar ul li,
.login-title,
.signup-title {
  text-decoration: none;
  display: inline;
  float: right;
  border: none;
  color: var(--secondary);
  margin-left: 50px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  transition: background-color 250ms;

}

.login-form-title,
.signup-form-title {
  font-size: 15px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: var(--secondary);

}

.login-title:hover,
.signup-title:hover {
  color: var(--tertiary);

}

.login-form,
.sign-up-form {
  margin: 100px auto;
  padding: 10px;
  border: 2px var(--quarnary) solid;
  border-radius: 7px;
  width: 25%;
  font-family: 'Times New Roman', Times, serif;

}

.form-input {
  margin: 10px;
  color: var(--secondary);
  border: 1px var(--quarnary) solid;
  border-radius: 2px;
  outline: none;

}

.btn { 
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--quinary);
  color: var(--secondary);
  border: 1px var(--quarnary) solid;
  border-radius: 4px;
}

.btn:hover {
  background-color: var(--tertiary);
  color: var(--quarnary);
  border: 2px var(--primary) solid;
}


.footer {
  position: absolute;
  bottom: 0px;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 0;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
  color: var(--secondary);
}

* {
  box-sizing: border-box;
  background-color: var(--senary);
  color: #333;
  font-size: 10px;
}

.App {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  font-family: monospace;
}

.form {
  display: grid;
}

.label {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border: 5px var(--secondary) solid;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 1rem;
}

.button {
  background-color: var(--quinary);
  color: var(--secondary);
  padding: 1rem 2rem;
  border: 1px solid var(--secondary);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover {
  background-color: var(--tertiary);
}

.card-list {
  margin-top: 20px;
  column-count: 3;
}

.card {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  place-items: center;
  
}

.card--image {
  flex: 100%;
  margin-top: 1rem;
  border-radius: 10px;
  z-index: 1;
}

.likes-here {
  background-color: transparent;
  margin: 5px;

}

.heart {
  display: flex;
  vertical-align: auto;
  color: var(--quinary);
  font-size: 15px;
  text-decoration: none;
}

.heart:hover {
  color: var(--quarnary);
}

@media (min-width: 768px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }
  .input {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
    .card-list {
        column-count: 1;
    }
}